<h1>Surf a New Board</h1>

<form action="/boards" method="post">
  <label name="name">Name Your Board</label>
  <input type="text" name="name" class="form-control">
  <button type="submit" class="btn">Get Surfin'</button>
</form>

<a href="/boards">Go back to board list</a>
